@inherits AppCode.Razor.AppRazor<Timeline>
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  var milestone = Model;
  var hasImage = milestone.IsNotEmpty("Image");
  var hasIcon = milestone.IsNotEmpty("Icon");
}

<div class="app-timeline-img-wrapper @(hasImage || hasIcon ? "" : "app-timeline-circle")">
    @if (hasImage) {
        <div class="app-timeline-img">
            @milestone.Picture("Image", imgClass:"img-fluid rounded-circle", settings: "Timeline")
        </div>
    } else if (hasIcon) {
        <div class="app-timeline-icon-bg @(hasImage ? "app-timeline-overlay" : "")">
            <div class="app-timeline-icon">
                <i class="fas @milestone.Icon"></i>
            </div>
        </div>
    } else {
        <div class="app-timeline-empty"></div>
    }
</div>