@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
@{
  // 1. Get Services for Css and Page
  var pageCss = GetService<Connect.Koi.ICss>(); // Service to get CSS information about the current Theme
  var page = GetService<IPageService>(); // Service to set titles etc. on the page
  var viewEdition = CmsContext.View.Edition;

  // 2. Include the framework if it isn't known
  if (pageCss.IsUnknown)
  {
    var cssFramework = "Bootstrap4";

    switch (viewEdition)
    {
      @* case "bs3": cssFramework = "Bootstrap3"; break; *@
      case "bs4": cssFramework = "Bootstrap4"; break;
      case "bs5": cssFramework = "Bootstrap5"; break;
    };

    page.Activate(cssFramework);
  }

  // 3. Show warning for admin if koi.json is missing
  if (pageCss.IsUnknown && CmsContext.User.IsSiteAdmin)
  {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  page.Activate("FontAwesome5"); // see https://r.2sxc.org/turnon
}

<link rel="stylesheet" href="@App.Path/@viewEdition/dist/@(viewEdition).min.css" data-enableoptimizations="true">